{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="jumbotron">
        Текст сообщения:
        <br>
         {{ mailing.message }}
    </div>
    <div class="row">
        <h2 class="mb-4 col-md-9">Отправка сообщений</h2>
        <div class="col-md-3">
            <button class="btn btn-success" onclick="reloadPage()">
                Обновить статусы
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>номер телефона</th>
                <th>Статус отправки</th>
                <th>Время отправки</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in mailing.phone_notification.all %}
                </tr>
                    <td>{{ notification.number }}</td>
                    <td>{{ notification.send_status }}</td>
                    <td>{{ notification.modified }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function reloadPage() {
        location.reload();
    }
</script>
{% endblock %}